@using Microsoft.AspNet.Identity
@using MindEraser.Models.EntityModels
@{ 
    int userCount = 0;
    using (MindEraserEntities db = new MindEraserEntities())
    {
        userCount = db.AspNetUsers.Count();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mind Eraser</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div style="margin:auto;">
        <div>
            <div class="pull-left">
                <img src="~/images/logo.svg" style="width:76px;height:58px;" />
            </div>
            <div class="pull-right">
                <div class="text-right" style="font-size:22px;">
                    <div>
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()

                                <div>
                                    @Html.ActionLink(User.Identity.GetUserName() + "", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                    | <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                                </div>
                            }
                        }
                        else
                        {
                            <div>
                                @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                | @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            </div>
                        }
                    </div>
                    <div>@(userCount.ToString("#,##0")) people has erased<br /> their negative mind</div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="text-center">
            @Html.ActionLink("Home", "Index", "Home") |
            @Html.ActionLink("Page A", "A", "Page") |
            @Html.ActionLink("Page B", "B", "Page") |
            @Html.ActionLink("Page C", "C", "Page") |
            @Html.ActionLink("Page D", "D", "Page")
        </div>
        <div class="bodycontainer">
            @RenderBody()
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
